<div id="content-inner" class="paddingTop-100">     
	<p>Scan the QR code behind the camera. If the tag is unclear, enter it manually.</p>
	<form ng-submit="addCamera()">
		<div>
			<img src="img/camadd.png"/>
			<input type="text" name="cameraid" ng-model="cameraid" required/>
			<input type="hidden" name="useremail" ng-model="useremail" ng-init="useremail=$storage.username;" />
			<img src="img/qrscan.png" />
		</div>		
		<div class="submit-btn"><input type="submit" value="Add" class="item-center"/></div>
	</form>
	<div id="status" style="color:green;display:none"></div>
	<div id="wifiresults" class="wifi" ng-show="wifiConnected">
	   <div id="wifiscan">
			<ul ng-repeat="result in scanResults">
				<li data-ssid="{{result.BSSID}}" data-bssid="{{result.BSSID}}">{{result.SSID}}
					<a id="connect" href="">connect</a>
					<a id="disconnect" href="">disconnect</a>
					<span id="status">connected<span>
				</li>
			</ul>
	   </div>
	</div>
	<div id="remote-search" class="search-items" ng-hide="wifiConnected">
	   <div id="mycameras">
			
	   </div>
	</div>
</div>