<div id="content-inner">       
   
	<div id="remote-search" class="search-items">
		<div id="top-bar">                         
			<canvas id="videoCanvas" width="100%" height="100%">
				<p>
					Please use a browser that supports the Canvas Element, like
					<a href="http://www.google.com/chrome">Chrome</a>,
					<a href="http://www.mozilla.com/firefox/">Firefox</a>,
					<a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
				</p>
			</canvas>
		</div>
		
		<div id="device-info">
			<div id="cam-operations">
				<div><a href=""><img src="img/flip.png" alt="settings"/><span>Flip</span></a></div>
				<div><a href=""><img src="img/alarm.png" alt="rfdevices"/><span>Alarm</span></a></div>
				<div><a href=""><img src="img/mirror.png" alt="sdrecord"/><span>Mirror</span></a></div>
				<div><a href=""><img src="img/snapshot.png" alt="cloudrecord"/><span>Photo</span></a></div>
				<div><a href=""><img src="img/video.png" alt="video"/><span>Video</span></a></div>
				<div><a href=""><img src="img/microfone.png" alt="speech"/><span>Speech</span></a></div>
				<div><a href=""><img src="img/audio.png" alt="audio"/><span>Audio</span></a></div>		   
			</div>
		</div>
	</div>
</div>
   