<div>
<p class="icon-ver">Please enter registered email</p>
</div>
<form method="post" name="form2" id="forgotpass">
<div class="sub-element">

<p><input type="text" value="email" name="email" id="email"/></p>
<p id="emailerr">Enter Valid Email</p>


</div>

<p class="submit-btn"><input type="submit"  value="Send Password" class="item-center"/></p>

</form>