<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
        <title>Belia</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
	
        <div id="wrapper" ng-controller="loginCtrl">	
			<div id="header-inner" ng-show="backbutton" ng-cloak>
			   <a href back-button><img src="img/back.png" alt="back"/></a>       
			</div>
            <div id="menu" ng-cloak>
                <div id="listView" class="list">
                    <li class="list-user">
                        <img src="img/user.png" alt="user"/>
                        <p>{{$storage.username}}</p>	
                        <a ng-show="loginSuccess" href ng-click="logout()">Logout</a>
                    </li>
                    <li><a href="#/addcam">Add Camera</a></li>
                    <li><a href="#/addcam">Alarm <input type="radio" id="alarm"/></a></li>
                    <li><a href="#/addcam">Alarm history</a></li>
                    <li><a href="#/addcam">Change Password</a></li>
                    <li><a href="#/addcam">About</a></li>
                </div>
            </div>
            <div id="panel" class="full-page">
                <div id="header" ng-show="loginSuccess" class="full-page" ng-cloak><a id="fullPage" href="">|||</a></div>
				<div class="loading-spiner-holder" data-loading>
					<div class="loading-spiner">
						<div class='uil-ring-css' style='transform:scale(0.6);'><div></div></div>
					</div>
				</div>
                <div id="contentWrapper">
                    <article id="showCase" ng-view>
                    </article>
                </div>
            </div>
        </div>
        <script src='js/jquery.min.js'></script>
        <script src='js/angular.min.js'></script>
		<script src='js/angular-route.min.js'></script>
		<script src='js/angular-storage.js'></script>
		<script src="js/slideout.js"></script>
		<script src="js/index.js"></script>
		<script src="cordova.js"></script>
    </body>
</html>