<div>
	<img src="img/logo.png" alt="appicon"/>
</div>
<div id="error" style="color:red;display:none">asdasd</div>
<form name="myForm" ng-submit="myForm.$valid && loginAuthencation()" role="form">
	<div class="sub-element">
		<p>
			<input type="email" name="username" id="username" class="form-control" placeholder="Email" ng-model="username" required />
		</p>
		<p>
			<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="password" required />
		</p>
	</div>
	<input type="checkbox" value="Remember Me" class="item-left"/><span>Remember Me</span>
	<p class="submit-btn"><input type="submit" id="login-form" value="Login" class="item-center"/></p>
	<p><a href="#/forgotpass">Forgot password?</a> </p>
	<p><a href="#/register">Register</a></p>
	<span><a href="about.html" id="homeinfo"><img src="img/info.jpg" alt="info"/></a></span>
</form>

