      <div id="content-inner">       
           
            <div id="remote-search" class="search-items">
               <div id="mycameras">
                <div><a href="camview.html"><img src="img/screen.jpg" alt="screen"/></a>
                    <label>camera names</label>                    
                </div>
                <div><a href="camview.html"><img src="img/screen.jpg" alt="screen"/></a>
                    <label>camera names</label>                    
                </div>
               </div>
            </div>
            
       
      </div>