<div>
<p class="icon-ver">Register Account</p>
</div>
<form method="post" name="form2" id="register" ng-submit="registerUser()">
<div class="sub-element">	
	<p><input type="email" placeholder="email" name="email" id="email" ng-model="email"  required/></p>
	<p><input type="password" placeholder="password" name="password" id="password" ng-model="password" required/></p>
	<p><input type="tel" placeholder="mobile" name="mobile" id="mobile" ng-model="mobile" required/></p>
	<p><input type="text" placeholder="country" name="country" id="country" ng-model="country" required/></p>	
</div>
<p class="submit-btn"><input type="submit" value="Register" class="item-center"/></p>
</form>