* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* slide out css*/
.paddingTop-100{
	padding-top:100px;
}
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
}

.slideout-open,
.slideout-open body {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#panel{
	background-color:#fff;
	height: 100%;
}
.sub-element{
    color: #001;
    border: 1px #D8D8D8;
}
.qr-scan{
    background: #FAFAFA;
}
.qr-scan input{
    border: none;    
}
.sub-element input{
    width:100%;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	outline:none;
    
}
div#error {
    font-size: 12px;
    padding: 5px;
    font-family: verdana;
}
.submit-btn{
    width: 100%;
    
}
.icon-ver{
    color: #001;
    text-decoration:none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.item-left{
    text-align: left;
    color: #D8D8D8;
}
.item-right{
    text-align: right;
    color: #D8D8D8;     
}

.item-center{
    text-align: center; 
    width:100%;
    color: #FAFAFA;
    border:1px solid #15aeec; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    background-color: #00BFFF; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
    background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
    background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}
.item-center:hover{
    border:1px solid #1090c3;
    background-color: #1ab0ec;
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
    background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
#showCase span{
    font-size: 9px;
}

#wrapper {
    height: 100%;
}

#menu {
  background-color: #1e1e1e;
  overflow: hidden;
}

#listView {
}

#listView li {
  list-style: none;
}
#listView li a img{
    padding: 0 10px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline;
}

#listView li a {
  display: block;
  padding: 10px;
  color: #fff;
  top: -10px;
  font-family: sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
  
}
#listView li a:hover{
    border:1px solid #4a4b4a;
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
    
}

#header {
  width: 100%;
  z-index: 999;
  background-color: #efefef;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}
.sub-element{
    background: #efefef;
    color: #001;
    border: 1px #D8D8D8;
    padding:10px
}
#emailerr, #passerr, #confirmerr, #numerr, #countryerr{
    display: none;
    color: brown;
    font-family: sans-serif;
    font-size: 0.6em;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.2);
    
}
#header label{
    color:#D8D8D8;
    font-size: 1.0em;
}
#fullPage {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  color: #2E2E2E;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#contentWrapper {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 100%;
}

section {
  padding: 10px;
}

.article-header {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: left;
  background-color: #2DCC70;
}

#showCase, #showCase section, #showCase section a {
  display: block;
  vertical-align: top;
  color: #1e1e1e;
  font-family: sans-serif;
  font-size: 1em;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .20s ease;
  -moz-transition: all .20s ease;
  -o-transition: all .20s ease;
  transition: all .20s ease;
}
a#homeinfo img{
    max-width: 35px;
    float: right;
}
#showCase {padding: 0px 5%;}

#showCase section a {
  box-shadow: inset 0px -2px #2DCC70;
}

#showCase section a:hover {
  color: #fff;
  box-shadow: inset 0px -50px #2DCC70;
}
#showCase p a{
  color: #1e1e1e;
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}
#social {
  text-align: center;
}

#social a {
  display: inline-block;
  width: 60px;
  height: 60px;
  box-shadow: inset 0px 0px;
}

#social a:hover {
  box-shadow: inset 0px 0px;
}

#social a img {
  max-width: 100%;
}

.list-user p{
    
    color: #D8D8D8;
    margin: 0px;
    padding: 5px;
}
.list-user img{
    margin: 0px;
}

#wrapper-inner{
    width: 100%;
}
#header-inner{
    background: #efefef;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-height: 60px;
}
#header-inner #geo{
    float:right;
}
#header-inner a{
    display: inline;
}
#header-inner a img{
    display: inline;
    width: 50px;
    height:50px;
}
#header-inner p{
  width: 85%;
  text-align: center;
  display: inline-block;
  padding: 15px;
  color: #4a4b4a;
  font-family: sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  margin:0;
  position: absolute;
 
}

#content-inner{
    color: #001;
}
#content-inner p{
  padding: 10px;
  color: #4a4b4a;
  font-family: sans-serif;
  font-size: 0.7em;
  text-decoration: none; 
  width:83%;
  display: inline-block;
}
#content-inner img{
    width: 30px;
    
}
#content-inner .submit-btn{
    padding:20px;
}

#content-inner .submit-btn input{
    width:83%;
}
#content-inner input{
    width:75%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
    position:relative;
    top:-9px;
    outline: none;
}
.search-items p{
    background: #ffffff;
    padding: 10px;
    margin: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px -2px #d8d8d9;
    font-family: sans-serif;
    font-size: 0.7em;
    color: #4a4b4a;
}

#remote-search label{
    font-family: sans-serif;
    font-size: 0.7em;
    color: #4a4b4a;
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px
}
#remote-search img{
    width: 58px;
    float:right;
}
#remote-search div img{
    width:80px;
    float:left;
    
}
#remote-search div{
    display: inline-block;
    padding: 15px;
    text-align: left;
}
#device-info{
    padding: 20px 20px;
}
#device-info a{
    text-decoration: none;
}
#device-info div{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 20px;
}
#device-info div span{
    font-family: sans-serif;
    font-size: 0.6em;
    color: #4a4b4a;
    display: block;
}
#device-info div img{
    width:60px;
}
#cam-operations div{
    padding:14px;
}
#top-bar{
    width: 100%;
}
#top-bar div{
width: 20%;
display: inline-block;
float: right;
position: relative;
top: 15px
}

.camera{
	background: #49B9DE;
	border: 1px solid #2B5361;
	padding: 25px;
	text-align: left;
	color: #fff;
	text-shadow: 1px 1px 0px #151414;
	font-size: 24px;
	font-weight: bold;
}

.loading-spiner-holder {	
	position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
/* spinner */
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #00BFFF;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

input.ng-invalid.ng-touched {
	border:1px solid #FA787E;
}

input.ng-valid.ng-touched {
	border:1px solid #78FA89;
}

div#wifiscan ul{
   list-style-type:none;
}
div#wifiscan ul li {
    background: #15aeec;
    padding:10px;
    color:#fff;
}
a#connect {
    background: #2dcc70;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
}

a#disconnect {
    background: #CC2D2D;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
}